/* pt-sans-narrow-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-narrow-v9-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v9-latin_cyrillic-regular.woff") format("woff"); }

/* pt-sans-narrow-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-v9-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v9-latin_cyrillic-700.woff") format("woff"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: 'PT Sans Narrow', "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929; }

img {
  max-width: 100%;
  height: auto; }

@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrow.woff2") format "woff2", url("../fonts/PTSansNarrow.woff") format("woff"); }

@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrowBold.woff2") format "woff2", url("../fonts/PTSansNarrowBold.woff") format("woff"); }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

/* blocks */
.page-header {
  display: flex;
  flex-direction: column; }

.page-header__logo {
  text-align: center;
  height: 85px; }

.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
  min-height: 51px;
  background-color: #826550; }

.main-nav__toggle {
  position: absolute;
  display: block;
  z-index: 2;
  top: 0;
  right: 0;
  width: 70px;
  height: 50px;
  font-size: 0;
  cursor: pointer;
  border: none;
  background-color: #6a4d38; }
  .main-nav__toggle:hover, .main-nav__toggle:active {
    background-color: #624530; }

.main-nav--closed .main-nav__toggle::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff; }

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3); }

.main-nav--opened .main-nav__toggle {
  top: 0;
  left: 0; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: '';
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff; }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .main-nav--opened .main-nav__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3); }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.page-header .main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0; }

.main-nav--nojs .main-nav__toggle {
  display: none; }

.stat {
  width: 320px;
  margin: 0 auto; }

.stat__header {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;
  color: #000000;
  text-align: center;
  background-color: #ffffff; }

.stat__slogan {
  padding: 0 10px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center; }

.stat__intro {
  padding: 0;
  margin: 0;
  margin-top: 15px;
  font-size: 20px;
  line-height: 27px; }

.stat__legend--top {
  display: none;
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.3; }

.stat__legend--bottom {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  line-height: 20px;
  opacity: 0.3;
  text-align: center; }

.stat__list {
  width: 100%;
  border-collapse: collapse; }

.stat__list tr {
  color: #fffffff;
  background-color: #404040; }
  .stat__list tr:nth-child(2) {
    background-color: #4e4e4e; }
  .stat__list tr:nth-child(3) {
    background-color: #353535; }
  .stat__list tr:nth-child(4) {
    background-color: #404040; }

.stat__value,
.stat__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top; }

.stat__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px; }

.stat__value sup {
  top: -0.35em;
  margin-left: 5px; }

.stat__field {
  font-size: 18px;
  line-height: 18px;
  text-align: right; }

.site-list {
  font-weight: bold; }

.site-list a {
  display: block;
  padding: 12px 21px;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 1px solid #71543f;
  border-top: 1px solid #886e5b; }

.site-list a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  border-top-color: #6a4d38;
  background-color: #6a4d38; }

.user-list__login {
  position: relative;
  display: block;
  padding: 12px 21px;
  padding-left: 50px;
  color: #ffffff;
  text-decoration: none;
  background-color: #6a4d38; }
  .user-list__login::before {
    content: '';
    position: absolute;
    top: 18px;
    left: 21px;
    width: 16px;
    height: 16px;
    background-image: url("../img/login1.svg"); }

.stat {
  width: 320px;
  margin: 0 auto; }

.stat__header {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;
  color: #000000;
  text-align: center;
  background-color: #ffffff; }

.stat__slogan {
  padding: 0 10px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center; }

.stat__intro {
  padding: 0;
  margin: 0;
  margin-top: 15px;
  font-size: 20px;
  line-height: 27px; }

.stat__legend--top {
  display: none;
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.3; }

.stat__legend--bottom {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  line-height: 20px;
  opacity: 0.3;
  text-align: center; }

.stat__list {
  width: 100%;
  border-collapse: collapse; }

.stat__list tr {
  color: #fffffff;
  background-color: #404040; }
  .stat__list tr:nth-child(2) {
    background-color: #4e4e4e; }
  .stat__list tr:nth-child(3) {
    background-color: #353535; }
  .stat__list tr:nth-child(4) {
    background-color: #404040; }

.stat__value,
.stat__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top; }

.stat__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px; }

.stat__value sup {
  top: -0.35em;
  margin-left: 5px; }

.stat__field {
  font-size: 18px;
  line-height: 18px;
  text-align: right; }

.advantages {
  width: 320px;
  margin: 0 auto; }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.advantages__item {
  padding: 160px 35px;
  padding-bottom: 45px;
  text-align: center; }

.advantages__item {
  background-repeat: no-repeat;
  background-position: center 35px; }

.advantages__item--fast {
  background-image: url("../../img/ad1.svg"); }

.advantages__item--cool {
  background-image: url("../../img/ad2.svg"); }

.advantages__item--price {
  background-image: url("../../img/ad3.svg"); }

.adnantages__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase; }

.advantages__description {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 27px; }

@media (min-width: 768px) {
  .page-header {
    background-color: #000000; }
  .page-header__logo {
    order: 2;
    height: 400px;
    width: 100%;
    background-color: #000000;
    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover; }
  .page-header__logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px; }
  .main-nav {
    width: auto;
    margin: 0;
    background-color: #000000; }
  .main-nav__toggle {
    display: none; }
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto; }
  .stat {
    position: relative;
    width: 640px;
    margin-top: -185px; }
  .stat__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .stat__slogan {
    width: 240px;
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none; }
  .stat__intro {
    padding-right: 40px;
    margin: 0;
    width: 210px;
    text-align: left; }
  .stat__legend--top {
    display: block; }
  .stat__legend--bottom {
    display: none; }
  .stat__list tbody {
    display: flex;
    flex-wrap: wrap; }
  .stat__list tr {
    width: 250px;
    padding: 27px 35px; }
  .stat__list td {
    display: block;
    width: auto;
    padding: 0; }
  .stat__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px;
    font-weight: bold; }
  .stat__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left; }
  .stat__field br {
    display: none; }
  .site-list {
    display: flex;
    flex-wrap: wrap;
    width: 570px;
    background: none; }
  .site-list__item {
    margin-right: 32px; }
    .site-list__item:last-child {
      margin-right: 0; }
    .site-list__item--active {
      position: relative; }
      .site-list__item--active::after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #826550; }
  .site-list__item a {
    padding: 21px 0;
    border: none; }
  .site-list a[href]:active {
    background: none; }
  .user-list {
    width: 60px; }
  .user-list__login {
    font-size: 0;
    background-color: #000000; }
    .user-list__login::before {
      top: 29px; }
    .user-list__login:hover::before {
      background-image: url("../img/login-hover.svg"); }
  .stat {
    position: relative;
    width: 640px;
    margin-top: -185px; }
  .stat__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .stat__slogan {
    width: 240px;
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none; }
  .stat__intro {
    padding-right: 40px;
    margin: 0;
    width: 210px;
    text-align: left; }
  .stat__legend--top {
    display: block; }
  .stat__legend--bottom {
    display: none; }
  .stat__list tbody {
    display: flex;
    flex-wrap: wrap; }
  .stat__list tr {
    width: 250px;
    padding: 27px 35px; }
  .stat__list td {
    display: block;
    width: auto;
    padding: 0; }
  .stat__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px;
    font-weight: bold; }
  .stat__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left; }
  .stat__field br {
    display: none; } }

@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px; }
  .page-header__logo img {
    margin-top: 57px; }
  .main-nav__wrapper {
    width: 960px; }
  .stat {
    display: flex;
    width: 960px;
    margin-top: -160px; }
  .stat__header {
    display: block;
    width: 240px;
    text-align: left; }
  .stat__slogan {
    display: block;
    padding: 0;
    padding-bottom: 20px;
    width: auto; }
  .stat__intro {
    width: auto;
    padding-bottom: 20px; }
  .stat__list {
    width: 640px;
    display: flex; }
  .site-list {
    width: 780px; }
  .site-list__item {
    margin: 0; }
    .site-list__item--active::after {
      left: 30px;
      right: 30px;
      width: auto; }
  .site-list a {
    padding: 21px 30px; }
  .site-list a[href]:hover {
    color: #000000;
    background-color: #ffffff; }
  .site-list a[href]:active {
    color: rgba(0, 0, 0, 0.3); }
  .user-list {
    width: auto;
    max-width: 160px; }
  .user-list__login {
    padding: 21px 30px 21px 50px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold; }
    .user-list__login:hover {
      color: #000;
      background-color: #fff; }
      .user-list__login:hover::before {
        background-image: url("../img/login-desktop-hover.png"); }
    .user-list__login:active {
      color: rgba(0, 0, 0, 0.3); }
      .user-list__login:active::before {
        opacity: 0.1; }
  .stat {
    display: flex;
    width: 960px;
    margin-top: -160px; }
  .stat__header {
    display: block;
    width: 240px;
    text-align: left; }
  .stat__slogan {
    display: block;
    padding: 0;
    padding-bottom: 20px;
    width: auto; }
  .stat__intro {
    width: auto;
    padding-bottom: 20px; }
  .stat__list {
    width: 640px;
    display: flex; } }

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; }
    .main-nav--closed .site-list__item--active {
      display: block; }
  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    text-align: center; }
  .main-nav--closed .user-list__item {
    display: none; }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    background-color: #6a4d38; }
  .main-nav--opened .main-nav__wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4); }
  .slider {
    position: relative; }
  .slider__item {
    display: none; }
  .slider__toggles {
    position: absolute;
    bottom: 12px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-left: -20px;
    width: 40px;
    font-size: 0; }
    .slider__toggles label {
      width: 7px;
      height: 7px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      border: 1px solid #ffffff;
      box-sizing: border-box;
      cursor: pointer; }
  #product-1:checked ~ .slider__list #slide-1,
  #product-2:checked ~ .slider__list #slide-2,
  #product-3:checked ~ .slider__list #slide-3 {
    display: block; }
  #product-1:checked ~ .slider__toggles label[for="product-1"],
  #product-2:checked ~ .slider__toggles label[for="product-2"],
  #product-3:checked ~ .slider__toggles label[for="product-3"] {
    background-color: #fff;
    border: none; } }
