.advantages {
  font-weight: 300;
}

.advantages__slogan {
  margin: 0;
  padding: 40px 0 30px 0;
  font-size: 24px;
  width: 100%;
  background-color: #fff;
}

.advantages__slogan span {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;

  text-align: center;

  &:first-child {
    margin-bottom: 20px;
  }
}

.advantages__wrapper {
  background: #f2f2f2 url("../img/bg-triangle-white.svg") no-repeat top center;
  background-size: 101% auto;
}

.advantages__list {
  padding: 0;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 70px;
  padding-bottom: 300px;
  list-style: none;

  font-size: 14px;
  line-height: 180%;
  text-align: center;

  background: url('../img/adv-mobile.png') no-repeat bottom -40px center;
  background-size: 160px;
}

.advantages__item {
  margin-bottom: 30px;
}

.advantages__title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.advantages__text {
  margin: 0;
  padding: 0;
  letter-spacing: 0.05em;
}

@media(min-width: $tablet-width) {
  .advantages__slogan {
    font-size: 40px;
    padding-bottom: 40px;
  }

  .advantages__slogan span {
    width: 620px;
    line-height: 120%;

    &:first-child {
      margin-bottom: 0;
    }

    &:last-child {
      width: 400px;
    }
  }

  .advantages__list{
    width: 620px;
    padding: 0 20px;
    padding-top: 70px;
    padding-bottom: 10px;
    text-align: left;

    background-position: left 20px top;
    background-size: 270px;
  }

  .advantages__item {
    padding-left: 310px;
  }

  .advantages__text {
    letter-spacing: 0;
  }
}
