.application {
  width: 320px;
  margin: 0 auto;
}

@media(min-width: $tablet-width) {
  .application {
    margin: 0;
    position: absolute;
    width: 300px;
    top: 210px;
    left: 0;
  }
}

@media(min-width: $desktop-width) {
  .application {
    top: 220px;
  }
}
