.social__wrapper {
  padding: 25px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 130px;
  padding: 0;
  margin: 0 auto;

  list-style: none;
  font-size: 0;
}

.social-list__item {
  &--vk {
    .social-list__icon {
      width: 22px;
      height: 12px;
    }
  }

  &--inst {
   .social-list__icon {
    width: 16px;
    height: 16px;
  }
}

&--fb {
 .social-list__icon {
  width: 10px;
  height: 19px;
}
}
}

.social-list__item a{
  display: flex;
  align-items: center;
  justify-content: center;

  .social-list__icon {
    fill: #666666;
  }

  &:hover {
    .social-list__icon {
      fill: #68b738;
    }
  }

  &:focus {
    outline: none;

    .social-list__icon {
      fill-opacity: 0.3;
    }
  }
}

@media(min-width: $tablet-width) {
  .social__wrapper {
    border: none;
  }

  .social-list {
    width: 130px;
    padding: 0;

    border: none;
  }

  .social-list__item {
    &--vk {
      .social-list__icon {
        width: 30px;
        height: 16px;
      }
    }

    &--instagram {
      .social-list__icon {
        width: 23px;
        height: 23px;
      }
    }

    &--facebook {
      .social-list__icon {
        width: 14px;
        height: 28px;
      }
    }
  }
}
