/*
<nav class="investments">
 <ul class="investments__list">
  <li class="investments__item investments__item--map">
   <a href="#">
    <h4 class="investments__title">Инвестиционная карта</h4>
  </a>
</li>
<li class="investments__item investments__item--pasport">
 <a href="#">
  <h4 class="investments__title">Инвестиционный паспорт</h4>
</a>
</li>
<li class="investments__item investments__item--strategy">
 <a href="#">
  <h4 class="investments__title">стратегия развития Югорска 2030</h4>
</a>
</li>
</ul>
</nav>
*/
.investments {
  margin-top: 20px;
  margin-left: 25px;

}

.investments__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.investments__link {
  display: block;
  width: 258px;
  height: 170px;

  text-decoration: none;

  border: 2px solid #2d68a7;
  background-repeat: no-repeat;

  &:hover {
    border-color: #4b98eb;
  }

  &--map {
    background-image: url("../img/invest-menu/map.png");
    background-position: center 42px;
  }

  &--pasport {
    background-image: url("../img/invest-menu/pasport.png");
    background-position: center 60px;
  }

  &--strategy {
    background-image: url("../img/invest-menu/strategy.png");
    background-position: center 60px;
  }
}

.investments__title {
  margin: 0 auto;
  margin-top: 12px;
  padding: 0;
  max-width: 220px;

  font-family: "Exo", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
