.page-header {
  min-height: 130px;
}

.page-header__wrapper {
  display: flex;
}

.page-header__logo-block {
  width: 310px;
  margin-left: 25px;
  margin-top: 30px;
}

.page-header__communication {
  width: 395px;
  margin-top: 30px;
  margin-left: auto;
}
