*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.content-box-component {
	box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}


a {
	text-decoration: none;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.button {
	display: inline-block;
	padding: 13px 53px;
	cursor: pointer;

	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

	border-radius: 3px;
	border: none;
	color: #ffffff;
	background-color: #fb565a;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
}

/*header*/

.main-header {
	padding-top: 50px;
	background-color: #eeeeee;
}

.main-header-wrapper {
	display: flex;
}

.main-logo {
	width: 160px;
	margin-right: 200px;
}

.site-navigation,
.user-navigation {
	margin: 0;
	padding: 0;
	margin-top: 30px;
	list-style: none; 
	display: flex;
}

.site-navigation a,
.user-navigation a{
	text-transform: uppercase;
	font-weight: 500;
	color: #000;

}

.site-navigation {
	width: 445px;
	justify-content: space-between;
}

.user-navigation {
	width: 120px;
	margin-left: auto;
}

.site-navigation-link {


}

/*slider*/
.slider {
	position: relative;

	margin-bottom: 80px;

	background-color: #eeeeee;
	
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;

	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-controls label {
	position: relative;

	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;
	box-sizing: content-box;

	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label::after {
	content: '';

	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;

	width: 18px;
	height: 18px;

	background: #ffffff;

	border-radius: 50%;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider-item {
	display: none;
	padding: 78px 0 80px 0;
}

#product-1:checked ~ .slider-controls label[for="product-1"]::before,
#product-2:checked ~ .slider-controls label[for="product-2"]::before,
#product-3:checked ~ .slider-controls label[for="product-3"]::before {
	content: '';

	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;

	width: 4px;
	height: 4px;
	margin: -4px;

	border-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

#product-1:checked ~ .slider-list #slide-1,
#product-2:checked ~ .slider-list #slide-2,
#product-3:checked ~ .slider-list #slide-3 {
	display: block;
}

.slider-item:nth-child(1) {
	background-image: url("../img/slider/slide1.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slider-item:nth-child(2) {
	background-image: url("../img/slider/slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider-item:nth-child(3) {
	background-image: url("../img/slider/slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

.slider-item h3 {
	max-width: 600px;
	margin: 0;
	margin-bottom: 27px;
	padding: 0;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
}

.slider-item p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 38px;
}

.slider-item-button {
}

/*catalog*/
.index-catalog {
	margin-bottom: 80px;
}

.index-catalog-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.index-catalog-item {
	width: 300px;
	display: flex;
	flex-direction: column;
}

.index-catalog-item h4 {
	margin: 25px 0 15px 0;
	padding: 0;
	margin-top: 25px;
	font-size: 24px;
	line-height: 30px;	
	font-weight: 700;
	text-transform: uppercase;
}

.index-catalog-item img {
	order: -1;
}

.index-catalog-item p {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	max-width: 260px;
}

.index-catalog-button {
	padding-left: 40px;
	padding-right: 40px;
	width: 160px;
}

.green-button {
	background-color: #00ca74;
}

.yellow-button {
	background-color: #efc84a;
}

/*features*/

.index-columns {
	display: flex;
	justify-content: space-between;
	border-top: 2px solid #eeeeee;
	margin-bottom: 75px;
}

.features {
	width: 680px;
}

.features h3 {
	margin: 0;
	padding: 0;
	margin-top: 75px;
	margin-bottom: 30px;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.features h4 {
	margin: 0;
	padding: 0;
	margin-bottom: 28px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.features p {
	margin: 0;
	padding: 0;
	margin-bottom: 45px;
}

.features-catalog-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.features-catalog-item {
	position: relative;
	padding-left: 37px;
	padding-bottom: 25px;
}

.features-catalog-item::before {
	content: '';
	position: absolute;
	width: 26px;
	height: 2px;
	top: 10px;
	left: 0;

	background-color: #fb565a;
}

.figures {
	width: 360px;
	padding-top: 260px;

	background-image: url(../img/figures.jpg);
	background-repeat: no-repeat;
	background-position: 0 40px;
}

.figures-title {
	margin: 0;
	padding: 0;
	margin-bottom: 45px;
	font-size: 16px;
	line-height: 25px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.figures-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.fugures-item {
	width: 110px;
}

.fugures-item span {
	vertical-align: super;
	font-size: 28px;
}

.fugures-item b {
	font-size: 45px;
	font-weight: 700px;
	line-height: 10px;
}

.fugures-item p {
	font-size: 16px;
	line-height: 18px;
}

/*sites*/

