@font-face {
 font-family: "Gilroy ExtraBold";
 src: url("../fonts/Gilroy-ExtraBold.woff") format("woff");
}

@font-face {
 font-family: "Gilroy Light";
 src: url("../fonts/Gilroy-Light.woff") format("woff");
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.content-box-component {
	box-sizing: content-box;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
}


a {
	text-decoration: none;
}

.button {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	vertical-align: middle;

	background-color: #ffffff;
	border: none;

	cursor: pointer;
}

.button:hover,
.button:focus {
	background-color: #f0c52e;
}

.button:active {
	color: rgb(0, 0, 0, 0.3);
}

.logo {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;	
}

.container {
	width: 1160px;
	margin: 0 auto;

}


/* HEADER */

/* Main*/

.main-header {	
}

.main-header .container {	
	min-height: 140px;
	

	
}

.main-header-logo {
	color: #000000;
	display: block;
	position: relative;
	top: 20px;
	left: 60px;
	z-index: 1;
}

.main-header-logo:hover,
.main-header-logo:focus {
	opacity: 0.6;
}

.main-header-logo:active {
	opacity: 0.3;
}

.navigation-wrapper {
	padding: 50px 60px 0 60px;
	position: relative;

	background-color: #f7e296;
	min-height: 300px;
}

.navigation-top-wrapper {
	display: flex;
	margin-bottom: 45px;
}

.navigation-bottom-wrapper {
	display: flex;
}

.catalog-menu {
	display: none;
}

.service-navigation {
	display: flex;
}

.service-navigation .contacts {
	margin-left: auto;
}

.service-navigation .deliver {
	margin-right: 50px;
}

.user-navigation,
.shop-navigation,
.service-navigation,
.catalog-navigation,
.catalog ul {
	list-style: none;
	margin: 0; 
	padding: 0;
}

.service-navigation {
	width: 500px;
	margin-left: auto;
}

.user-navigation a,
.shop-navigation a,
.service-navigation a,
.catalog-navigation a,
.catalog ul a{
	color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus,
.shop-navigation a:hover,
.shop-navigation a:focus,
.catalog-navigation a:focus,
.catalog-navigation a:hover,
.service-navigation a:hover,
.service-navigation a:focus {
	opacity: 0.6;
}

.user-navigation a:active,
.shop-navigation a:active,
.service-navigation a:active {
	opacity: 0.3;
}

.shop-navigation {
	width: 220px;
}

.user-navigation {
	width: 260px;
	margin-right: 20px;
	margin-left: auto;
}


.logout-link a {
	opacity: 0.3;
}

.service-navigation,
.catalog-navigation {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}

.catalog-navigation {
	width: 300px;
}

.catalog-navigation ul{
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	text-transform: none;
	margin: 0;
	padding: 0;

	list-style: none;
	letter-spacing: normal;
}

.main-header-search {
	width: 400px;
}

.main-header-search input {
	font: inherit;
	border: none;

	background-color: transparent;
}

.search-button {
	background-color: transparent;
	border: 2px solid black;
	display: none;
	cursor: pointer;
}

.main-header-search input:focus {
	border-bottom: 2px solid black;
}

.main-header-search input:focus + .search-button {
	display: inline-block;
}

.main-header-search input:focus + .search-button:hover {
	color: #ffffff;

	background-color: #000000;
}

/*Inner*/




/*MAIN*/

/*Main*/

.slider-list {
	list-style: none;
}

.slide-info h3 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: normal;
}

.slide-buttons {
	list-style: none;
}

.slide-item {
	display: flex;
	justify-content: space-between;
}

.slide-photo {
	width: 560px;
}

.slide-info {
	width: 500px;
}

.slider-features span {
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
}

.popular-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.popular-item {
	width: 160px;
}

.popular-item a {
	display: block;
	color: #000000;
}

.popular-item-img {
	background-color: rgba(240, 197, 46, 0.5);
}

.popular-item h4 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.18px;
}

/*SERVICE TAB*/

.service {
	background-color: #e5e5e5;
}

.service-content {
	display: flex;
}

.service-list-name,
.service-description-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.service-list-name {
	width: 280px;
}

.service-description-list {
	width: 880px;
}

.service a {
	cursor: pointer;

	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	color: #000000;
}



.service-description-list h2 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.18px;
	margin: 0;
	padding: 0;
}

.service-description-item {
	display: none;
}

.service-description-list .current {
	display: block;
}

/*Inner*/
.page-title {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.18px;
}

.breadcrums {
	list-style: none;
}

.breadcrums a,
.breadcrums-current {
	color: #000000;
	opacity: 0.3;
}

.filters h4,
.catalog-sort h4 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

.filters fieldset {
	border: none;
}

.filters legend {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.18px;
}

.filters ul {
	list-style: none;
}

.catalog-sort-type a {
	font-size: 14px;
	line-height: 18px;
	opacity: 0.3;
}

.catalog-item h3 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.18px;
}

.catalog-item-price {
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.18px;
}

/*Pagination*/

.pagination-content a {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	color: #000000;
}

.pagination-list a {
	opacity: 0.3;
}

.pagination-item-current a {
	opacity: 1.0;
}

/*BRANDS*/

.brands-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.brand-item {
	width: 280px;
	margin-left: 10px
	flex-wrap: wrap;
}


/*ABOUT, CONTACTS*/

.index-columns {
	display: flex;
}

.index-columns h2 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.18px;
}

.about-deliver {
	list-style: none;
}

.deliver-item {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.18px;
}

/*FOOTER*/

.main-footer {
	color: #ffffff;

	background-color: #464646;
}

.footer-navigation-top,
.footer-navigation-middle {
	display: flex;
}

.main-footer-logo {
	color: #ffc600;
	width: 180px;
}

.footer-contacts {
	width: 280px;
	margin-right: 80px;
}

.footer-shop-navigation {
	margin-left: auto;
}

.footer-service-navigation {
	width: 440px;
}


.footer-user-navigation,
.footer-shop-navigation,
.footer-service-navigation,
.footer-social {
	list-style: none;
}

.footer-user-navigation a,
.footer-shop-navigation a,
.footer-service-navigation a,
.footer-social a {
	color: #ffffff;
}

.footer-phone {
	text-align: right;
	margin-left: auto;
}

.footer-service-navigation,
.footer-social {
	text-align: center;
}

/*MODAL*/

.write-form label {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: normal;
	display: block;
}

.write-form input,
.write-form textarea {
	font: inherit;
	font-size: 14px;

	background-color: #f2f2f2;
	border: none;
}