@font-face {
 font-family: "Gilroy ExtraBold";
 src: url("../fonts/Gilroy-ExtraBold.woff") format("woff");
}

@font-face {
 font-family: "Gilroy Light";
 src: url("../fonts/Gilroy-Light.woff") format("woff");
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
}


a {
	text-decoration: none;
}

.button {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	vertical-align: middle;

	background-color: #ffffff;
	border: none;

	cursor: pointer;
}

.button:hover,
.button:focus {
	background-color: #f0c52e;
}

.button:active {
	color: rgb(0, 0, 0, 0.3);
}

.logo {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;	
}


/* HEADER */

/* Main*/

.main-header {
	background-color: #f7e296;
}

.main-header .container {
	width: 1040px;
	margin: 0 auto;
	padding: 0 60px;

	display: flex;
	flex-direction: column;
}

.top-navigation-wrapper {
	display: flex;
}




.main-header-logo {
	color: #000000;
}

.main-header-logo:hover,
.main-header-logo:focus {
	opacity: 0.6;
}

.main-header-logo:active {
	opacity: 0.3;
}

.user-navigation,
.shop-navigation,
.service-navigation,
.catalog ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.user-navigation {
	margin-left: auto;  /* прижимаем user-navigation и shop-navigation вправо */
}

.user-navigation a,
.shop-navigation a,
.service-navigation a,
.catalog ul a{
	color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus,
.shop-navigation a:hover,
.shop-navigation a:focus,
.service-navigation a:hover,
.service-navigation a:focus {
	opacity: 0.6;
}

.user-navigation a:active,
.shop-navigation a:active,
.service-navigation a:active {
	opacity: 0.3;
}

.logout-link a {
	opacity: 0.3;
}

.service-navigation {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}

.service-navigation-catalog ul{
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;
	text-transform: none;

	list-style: none;
	letter-spacing: normal;
}

.main-header-search input {
	font: inherit;
	border: none;

	background-color: transparent;
}

.search-button {
	background-color: transparent;
	border: 2px solid black;
	display: none;
	cursor: pointer;
}

.main-header-search input:focus {
	border-bottom: 2px solid black;
}

.main-header-search input:focus + .search-button {
	display: inline-block;
}

.main-header-search input:focus + .search-button:hover {
	color: #ffffff;

	background-color: #000000;
}

/*Inner*/




/*MAIN*/

/*Main*/

.slider-list {
	list-style: none;
}

.slide-info h3 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: normal;
}

.slide-buttons {
	list-style: none;
}


.slider-features span {
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
}

.popular-list {
	list-style: none;
}

.popular-item a {
	display: block;
	color: #000000;
}

.popular-item-img {
	background-color: rgba(240, 197, 46, 0.5);
}

.popular-item h4 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.18px;
}

/*SERVICE TAB*/

.service {
	display: flex;
	flex-direction: column;
}

.service input {
	display: none;
}

.service label {
	cursor: pointer;

	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

.service-item {
	display: flex;
}

.service-item h2 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.18px;
}

.service .tab-content {
	display: none;
}

.service input:checked + label {
	color: #f7e184;

	background-color: #000000;
}

.service input:checked + label + .tab-content {
	display: block;
}

/*Inner*/
.page-title {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.18px;
}

.breadcrums {
	list-style: none;
}

.breadcrums a,
.breadcrums-current {
	color: #000000;
	opacity: 0.3;
}

.filters h4,
.catalog-sort h4 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

.filters fieldset {
	border: none;
}

.filters legend {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.18px;
}

.filters ul {
	list-style: none;
}

.catalog-sort-type a {
	font-size: 14px;
	line-height: 18px;
	opacity: 0.3;
}

.catalog-item h3 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.18px;
}

.catalog-item-price {
	font-family: "Gilroy Light", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.18px;
}

/*Pagination*/

.pagination-content a {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	color: #000000;
}

.pagination-list a {
	opacity: 0.3;
}

.pagination-item-current a {
	opacity: 1.0;
}

/*BRANDS*/

.brands-list {
	list-style: none;
}

/*ABOUT, CONTACTS*/

.index-columns h2 {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.18px;
}

.about-deliver {
	list-style: none;
}

.deliver-item {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.18px;
}

/*FOOTER*/

.main-footer {
	color: #ffffff;

	background-color: #464646;
}

.main-footer-logo {
	color: #ffc600;
}

.footer-user-navigation,
.footer-shop-navigation,
.footer-service-navigation,
.footer-social {
	list-style: none;
}

.footer-user-navigation a,
.footer-shop-navigation a,
.footer-service-navigation a,
.footer-social a {
	color: #ffffff;
}

.footer-phone {
	text-align: right;
}

.footer-service-navigation,
.footer-social {
	text-align: center;
}

/*MODAL*/

.write-form label {
	font-family: "Gilroy ExtraBold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: normal;
	display: block;
}

.write-form input,
.write-form textarea {
	font: inherit;
	font-size: 14px;

	background-color: #f2f2f2;
	border: none;
}