*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.content-box-component {
	box-sizing: content-box;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #323232;
}

.button {
	font: inherit;
	font-size: 18px;
	line-height: 24px;
	padding: 10px 20px;
	font-weight: 700;
	border-radius: 50px;
	background-image: linear-gradient(to bottom, #e74a35, #f26843);
	box-shadow: 0 2px 2px rgba(160, 32, 11, 0.64);
	color: #ffffff;
	border: none;
	cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


.site-wrapper {
	background-image: url(../img/bg1.jpg);
	background-position: top center;
	background-color: #849d8f;
	background-repeat: no-repeat;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.main-header {
	line-height: 18px;
	color: #ffffff;
}

.catalog-menu,
.search-form-block,
.login-block {
	display: none;
}

.site-navigation,
.user-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation a,
.user-navigation a,
.header-search-wrapper a,
.header-basket-wrapper a{
	color: #ffffff;
}

.site-navigation a{
	font-weight: 700;
}

.site-navigation a:hover {
	color: #333333;
	background-color: #ffffff;
}

.user-navigation a{
	font-weight: 500;
}

.header-shedule {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
}

.header-shedule span {
	font-size: 22px;
	line-height: 24px;
}

.slider-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slider {
	margin-bottom: 40px;
	color: #FFFFFF;
}

.slider-item {
	text-align: center;
}

.slider-item h3 {
	font-size: 60px;
	line-height: 60px;
}

.slider-item a {
	color: #ffffff;
}

.slide-button {
	font-size: 32px;	
	line-height: 44px;
	padding: 15px 40px;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.75);
}

/* ACTION */
.action-berry {
	background-image: url(../img/action-bg1.jpg);
}

.action-choco {
	background-image: url(../img/action-bg2.jpg);
}

.action-item {
	padding: 20px;	
	background-repeat: no-repeat;
	color: #ffffff;
}

.action-item h4 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}

.action-item p {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.action-item .button-wrapper {
	text-align: right;
}

.action-button {
	font-size: 18px;
	line-height: 24px;
	padding: 10px 20px;
}

/* POPULAR */

.popular-list {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #ffffff;
}

.popular-item a {
	color: #ffffff;
	text-decoration: underline;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.popular-item-img .price {
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
	text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

/* FEATURES*/
.features {
	background-image: url(../img/bg-waf.jpg);
	background-repeat: repeat;
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 40px;
}

.features h4 {
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	padding: 0;
}

.features p {
	margin: 0;
	padding: 0;
}

/* NEWS, MAIL*/

.news, 
.mail {
	border-radius: 15px;
	width: 560px;
	min-height: 220px;
}

.news {
	padding: 20px;
	margin-bottom: 20px;

	background-image: url(../img/news-bg.jpg);
	background-repeat: no-repeat;
	background-color: #ffffff;
	background-position: 198px -40px;

}

.news p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;

	color: #323232;
}

.news a {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

	color: #323232;
	text-decoration: underline;
}

.mail {
	position: relative;
	background-image: url(../img/mail-bg.png);
	background-repeat: no-repeat;
}

.mail .mail-content {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 550px;
	height: 210px;
	border-radius: 15px;

	background-color: #f8f7f4;
}

.mail-content {
	padding: 25px 20px;
	color: #5a5a5a;
}

.mail-content p {
	margin: 0;
	padding: 0;
}

.mail-content .mail-text {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.mail-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mail-form p {
	width: 370px;
}

.mail-form input {
	font: inherit;
	border-radius: 5px;
	border: 1px solid rgba(178, 178, 178, 0.5);
	padding: 10px 15px;
	width: 370px;

}
