*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.content-box-component {
	box-sizing: content-box;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #323232;
}

.button {
	display: inline-block;
	font: inherit;
	font-size: 18px;
	line-height: 24px;
	padding: 10px 20px;
	font-weight: 700;
	border-radius: 50px;
	background-image: linear-gradient(to bottom, #e74a35, #f26843);
	box-shadow: 0 2px 2px rgba(160, 32, 11, 0.64);
	color: #ffffff;
	border: none;
	cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


.site-wrapper {
	background-image: url(../img/bg1.jpg);
	background-position: top center;
	background-color: #849d8f;
	background-repeat: no-repeat;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.main-header {
	line-height: 18px;
	color: #ffffff;
}

.main-navigation {
	display: flex;	
	padding-top: 8px;
}

.main-header-logo {
	width: 160px;
	margin-right: 20px;
}

.login-block,
.catalog-menu,
.search-form-block,
.basket-block {
	display: none;
}

.site-navigation,
.user-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation a,
.user-navigation a,
.header-search-wrapper a,
.header-basket-wrapper a{
	color: #ffffff;
}

.site-navigation {
	display: flex;
	width: 400px;	
	margin-top: 20px;
}

.site-navigation li {
}

.site-navigation li:last-child {
	margin-right: 0;
}

.menu-item {
	position: relative;
}

.catalog-menu {
	position: absolute;
	top: 28px;
	left: 0px;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	line-height: 16px;
	padding: 10px 0;
	min-width: 143px;

	background-color: #fff;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}



.catalog-menu .current-item {
	
	background-color: #d07058;
}

.catalog-menu .current-item a {
	color: #ffffff;
}


.catalog-menu  li {
	padding: 8px 20px;
}

.catalog-menu a {
	color: #323232;
}

.catalog-menu li:hover {
	background-color: #fbded7;
}

.catalog-menu li:active,
.catalog-menu li:focus {
	background-color: #f6b5a5;
}

.catalog-menu .new-item {
	font-weight: 700;
	padding: 0;
	padding-bottom: 10px;
	margin: 0 20px;
	border-bottom: 1px solid #d1d0ce;
}

.catalog-menu .new-item:hover {
	background-color: transparent;
}

.main-link {
	padding-top: 6px;
	margin: 0 15px;
	font-weight: 700;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-link:hover {
	padding: 6px 15px;
	margin: 0;
	border-radius: 15px;
	color: #333333;
	background-color: #ffffff;
}

.main-link:active,
.main-link:focus {
	box-shadow: inset 0 2px 1px #696969;
}

.header-search-wrapper {
	position: relative;
	margin-left: auto;
	width: 32px;
	margin-right: 8px;
	margin-top: 15px;
}

.header-search {
	display: block;
	border-radius: 50%;
	width: 32px;
	height: 32px;

	background-image: url(../img/icon/lupa.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(255, 255, 255, 0.2);
}

.header-search:hover {
	background-color: #ffffff;
	background-image: url(../img/icon/lupa-act.png);
}

.search-form-block {
	position: absolute;
	top: 37px;
	right: 0px;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	line-height: 16px;
	padding: 25px 20px;
	width: 345px;

	background-color: #f8f7f4;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.search-form input {
	font: inherit;
	padding: 10px 15px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	width: 310px;

	color: #999999;
}


.user-navigation {
	width: 222px;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	font-size: 14px;
	line-height: 16px;
}

.user-navigation a{
	display: block;
	font-weight: 500;
	border-radius: 15px;

	background-color: rgba(255, 255, 255, 0.2);
	background-repeat: no-repeat;
	background-position: 15px center;
	
}

.login-item {
	position: relative;
	min-width: 95px;
}

.login-block {
	position: absolute;
	top: 37px;
	right: 0px;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	line-height: 16px;
	padding: 25px 20px;
	width: 280px;

	background-color: #f8f7f4;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.input-item {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.login-form input {
	font: inherit;
	padding: 10px 15px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	width: 240px;

	color: #999999;
}

.button-wrapper {
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.button-login {
	width: 100px;
	border-radius: 25px;
}

.login-help {
	width: 120px;
	margin: 0;
	padding: 0;
}

.login-help a {
	display: inline-block;
	color: #323232;
	font-size: 13px;
	margin-bottom: 5px;
	border-radius: 0;
	border-bottom: 1px solid #adacaa;
}

.basket-item {
	min-width: 120px;
	position: relative;
}

.basket-list {
	border-bottom: 1px solid #cacac7;
}

.basket-block{
	position: absolute;
	top: 37px;
	right: 0px;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	line-height: 16px;
	padding: 20px;
	width: 540px;

	background-color: #f8f7f4;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);	
	color: #323232;
}

.basket-item-delete {
	width: 11px;
	height: 11px;
	margin-right: 10px;
	position: relative;
	font-size: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.basket-item-delete::before,
.basket-item-delete::after {
	position: absolute;
	content: '';
	height: 1px;
	width: 15px;
	background-color: #3d393a;
	top: 5px;
	left: 0px;
}

.basket-item-delete::before {
	transform: rotate(45deg);
}

.basket-item-delete::after {
	transform: rotate(-45deg);
}

.basket-totalprice {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
}

.basket-total {
	flex-direction: column;
	display: flex;
	align-items: flex-end;
}

.basket-row {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 20px;
}



.basket-row b {
	color: #999999;
	font-weight: 400;
}

.basket-img {
	width: 33px;
	margin-right: 13px;
}

.basket-title {
	width: 235px;
	margin-right: 20px;
}

.basket-count {
	width: 110px;
}

.basket-prise {
	margin-left: auto;
}


.login-link {
	background-image: url(../img/icon/login.png);
	padding: 8px 10px 8px 43px;
}

.basket-link {
	background-image: url(../img/icon/basket.png);
	padding: 8px 10px 8px 43px;
}

.login-link:hover {
	background-image: url(../img/icon/login-act.png);
	background-color: #ffffff;
	color: #323232;
}


.header-shedule {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	text-align: right;
	margin: 0;
	padding: 0;
}

.header-shedule span {
	font-size: 22px;
	line-height: 33px;
}

.slider-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slider {
	position: relative;
	padding-top: 270px;
	margin-bottom: 40px;
	text-align: center;

	color: #FFFFFF;
}

.slide {
	display: none;
}

.slider-item {
	
}

.slider-item h3 {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 27px;
	font-size: 60px;
	line-height: 60px;
}

.slider-item a {
	color: #ffffff;
}

.slide-button {
	font-size: 32px;	
	line-height: 44px;
	padding: 15px 40px;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.75);
}

.slide-controls {
	position: absolute;
	bottom: 63px;
	left: 0;
	z-index: 20;

	font-size: 0;
}

.slide-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;

	vertical-align: top;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url(../img/bg1.jpg);
}

#product-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url(../img/bg2.jpg);
}

#product-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url(../img/bg3.jpg);
}

#product-1:checked ~ .site-wrapper #slide-1,
#product-2:checked ~ .site-wrapper #slide-2,
#product-3:checked ~ .site-wrapper #slide-3 {
	display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
	background-color: #fff;
}

/* ACTION */
.action-berry {
	background-image: url(../img/action-bg1.jpg);
}

.action-choco {
	background-image: url(../img/action-bg2.jpg);
}

.action-item {
	padding: 20px;	
	background-repeat: no-repeat;
	color: #ffffff;
}

.action-item h4 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}

.action-item p {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.action-item .button-wrapper {
	text-align: right;
}

.action-button {
	font-size: 18px;
	line-height: 24px;
	padding: 10px 20px;
}

/* POPULAR */

.popular-list {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #ffffff;
}

.popular-item a {
	color: #ffffff;
	text-decoration: underline;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.popular-item-img .price {
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
	text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

/* FEATURES*/
.features {
	background-image: url(../img/bg-waf.jpg);
	background-repeat: repeat;
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 40px;
}

.features h4 {
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	padding: 0;
}

.features p {
	margin: 0;
	padding: 0;
}

/* NEWS, MAIL*/

.news, 
.mail {
	border-radius: 15px;
	width: 560px;
	min-height: 220px;
}

.news {
	padding: 20px;
	margin-bottom: 20px;

	background-image: url(../img/news-bg.jpg);
	background-repeat: no-repeat;
	background-color: #ffffff;
	background-position: 198px -40px;

}

.news p {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;

	color: #323232;
}

.news a {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;

	color: #323232;
	text-decoration: underline;
}

.mail {
	position: relative;
	background-image: url(../img/mail-bg.png);
	background-repeat: no-repeat;
}

.mail .mail-content {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 550px;
	height: 210px;
	border-radius: 15px;

	background-color: #f8f7f4;
}

.mail-content {
	padding: 25px 20px;
	color: #5a5a5a;
}

.mail-content p {
	margin: 0;
	padding: 0;
}

.mail-content .mail-text {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.mail-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mail-form p {
	width: 370px;
}

.mail-form input {
	font: inherit;
	border-radius: 5px;
	border: 1px solid rgba(178, 178, 178, 0.5);
	padding: 10px 15px;
	width: 370px;

}

/* contacts */

.contacts {
	margin-top: 40px;
	position: relative;
}

.contact-block {
	position: absolute;
	top: 60px;
	right: 25px;
	width: 300px;
	padding: 20px;
	border-radius: 15px;

	background-color: #ffffff;
}

.contact-block p {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
}

.contact-block b {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.contact-block .button {
	display: block;
	margin-bottom: 10px;
}

/* main-footer */
.main-footer {
	font-size: 13px;
	line-height: 18px;

	color: #ffffff;
}

.main-footer a {
	color: #ffffff;
	text-decoration: underline;
}

.main-footer ul {
	list-style: none;
	margin: 0;	
	padding: 0;	
}

.current-about {
		font-weight: 	700;
}