.advantages {
  width: 320px;
  margin: 0 auto;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  margin-top: 40px;
  padding-top: 120px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 45px;

  text-align: center;
}

.advantages__item {
  background-repeat: no-repeat;
  background-position: center 0;
}

.advantages__item--fast {
  background-image: url("../img/ad1.svg");
}

.advantages__item--cool{
  background-image: url("../img/ad2.svg");
}

.advantages__item--price {
  background-image: url("../img/ad3.svg");
}

.adnantages__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.advantages__description {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 27px;
}

@media (max-width: $mobile-width-only) {
  .slider {
    position: relative;
  }

  .slider__item {
    display: none;
  }


  .slider__toggles {
    position: absolute;
    bottom: 12px;
    left: 50%;
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;
    margin-left: -20px;
    width: 40px;

    font-size: 0;


    & label {
      width: 7px;
      height: 7px;

      transform: rotate(45deg);

      border: 1px solid #ffffff;
      box-sizing: border-box;
      cursor: pointer;

    }

  }

  #product-1:checked ~ .slider__list #slide-1,
  #product-2:checked ~ .slider__list #slide-2,
  #product-3:checked ~ .slider__list #slide-3 {
    display: block;
  }

  #product-1:checked ~ .slider__toggles label[for="product-1"],
  #product-2:checked ~ .slider__toggles label[for="product-2"],
  #product-3:checked ~ .slider__toggles label[for="product-3"] {
    background-color: #fff;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 640px;


  }

  .advantages__toggles {
    display: none;
  }

  .advantages__item {
    padding: 0;
    padding-left: 135px;
    padding-bottom: 35px;

    text-align: left;

    background-position: 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &:last-child {
      border: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 960px;
  }

  .advantages__list {
    display: flex;
    justify-content: space-around;
  }

  .advantages__item {
    padding-left: 0;
    padding-top: 120px;
    width: 250px;

    text-align: center;

    background-position: center 0;
    border: none;
  }

  .adnantages__title {
    margin-bottom: 15px;
  }
}

