.page-header {
  display: flex;
  flex-direction: column;
  background-color: #242424;
}

.page-header__logo {
  height: 85px;
}

.page-header__logo-image {
  width: 226px;
  height: 30px;
  display: block;

  margin: 0 auto;
  margin-top: 25px;
}

@media(min-width: $tablet-width) {
  .page-header {
    background-color: #000000;
  }
  .page-header__logo {
    order: 2;
    height: 400px;

    background-image: url(../img/bg.jpg);
    background-color: #000000;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-header__logo-image {
    margin-top: 35px;
  }
}

@media(min-width: $desktop-width) {
  .page-header__logo {
    height: 648px;
  }

  .page-header__logo-image {
    margin-top: 55px;
  }
}
