.reviews {
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/bg-arrow-dark.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 70px;
}

.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 70px;

  box-sizing: border-box;
}

.reviews__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.reviews__write {
  display: none;
}

.reviews__list {
  list-style: none;

  margin: 0;
  padding: 0 20px;
}

.reviews__item {
  display: flex;
  justify-content: space-between;

  margin: 0;
}

.reviews__author-picture {
  width: 50px;
}

.reviews__container {
  width: 210px;
}

.reviews__author-name {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;

  font-size: 24px;
  font-weight: bold;
  font-style: normal;
}

.reviews__text {
  margin: 0;
  margin-bottom: 20px;
}

.reviews__prev,
.reviews__next {
  display: none;
}

.reviews-slider {
  position: relative;
}

.reviews-slider__item {
  display: none;
}

.reviews-slider__toggles {
  position: absolute;
  bottom: 65px;
  left: 50%;
  display: flex;
  justify-content: space-between;

  width: 40px;
  margin-left: -20px;
  font-size: 0;

  & label {
    width: 7px;
    height: 7px;

    transform: rotate(45deg);

    border: 1px solid #353535;
    box-sizing: border-box;
    cursor: pointer;
  }
}


#item-1:checked ~ .reviews-slider__list #slide-1,
#item-2:checked ~ .reviews-slider__list #slide-2,
#item-3:checked ~ .reviews-slider__list #slide-3 {
  display: flex;
}

#item-1:checked ~ .reviews-slider__toggles label[for="item-1"],
#item-2:checked ~ .reviews-slider__toggles label[for="item-2"],
#item-3:checked ~ .reviews-slider__toggles label[for="item-3"] {
  background-color: #353535;
  border: none;
}


@media (min-width: $tablet-width) {
  .reviews{
    background-image: none;
  }

  .reviews__wrapper {
    position: relative;

    width: 640px;
    padding-top: 45px;
    padding-bottom: 50px;
  }

  .reviews__title {
    margin-bottom: 40px;

    font-size: 40px;
    text-align: left;
  }

  .reviews__write {
    display: block;

    position: absolute;
    top: 35px;
    right: 0;

    padding: 10px 25px;
  }

  .reviews__list {
    padding: 0;
    display: flex;
  }

  .reviews__prev,
  .reviews__next {
    display: flex;
    justify-content: center;
    width: 50px;

    font-size: 0;

    border: 1px solid #e5ddd5;
    background: #ffffff;
    cursor: pointer;

    &::before {
      content: '';

      width: 12px;
      height: 12px;

      background-image: url("../img/icon-arrow.svg");
    }
  }

  .reviews__prev {
    order: 0;
  }

  .reviews__next {
    order: 2;

    &::before {
      transform: rotate(180deg);
    }
  }


  .reviews-slider__item {
    order: 1;
    width:  540px;
    padding: 30px;

    border-top: 1px solid #e5ddd5;
    border-bottom: 1px solid #e5ddd5;
    box-sizing: border-box;
  }

  .reviews__author-picture {
    width: 85px;
  }

  .reviews__container {
    width: 360px;
  }

  .reviews-slider__toggles {
    bottom: 47px;
    padding: 0 10px;
    background-color: #fff;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    width: 960px;
  }

  .reviews__list {
    justify-content: space-between;
  }

  .reviews-slider__item {
    width: 820px;
    min-height: 160px;
    padding: 0;

    border: 1px solid #e5ddd5;;
  }

  .reviews__author-picture {
    width: 249px;
    margin: 0;

    & img {
      height: 100%;
    }
  }

  .reviews__container {
    width: 500px;
    align-self: center;
    box-sizing: border-box;
  }
}
