.stat {
  width: 320px;
  margin: 0 auto;
}

.stat__header {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;

  color: #000000;
  text-align: center;

  background-color: #ffffff;
}

.stat__slogan {
  padding: 0 10px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.stat__intro {
  padding: 0;
  margin: 0;
  margin-top: 15px;

  font-size: 20px;
  line-height: 27px;
}

.stat__legend--top {
  display: none;

  margin-bottom: 7px;

  font-size: 20px;
  line-height: 27px;

  opacity: 0.3;
}

.stat__legend--bottom {
  display: block;

  margin-top: 10px;

  font-size: 20px;
  line-height: 20px;
  opacity: 0.3;
  text-align: center;
}

.stat__list {
  width: 100%;

  border-collapse: collapse;
}

.stat__list tr{
  color: #fffffff;
  background-color: #404040;

  &:nth-child(2){
    background-color: #4e4e4e;
  }

  &:nth-child(3) {
    background-color: #353535;
  }

  &:nth-child(4) {
    background-color: #404040;
  }
}

.stat__value,
.stat__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;

  vertical-align: top;
}

.stat__value {
  padding-right: 0;

  font-size: 40px;
  line-height: 40px;
}

.stat__value sup {
  top: -0.35em;

  margin-left: 5px;
}

.stat__field {
  font-size: 18px;
  line-height: 18px;

  text-align: right;
}

@media (min-width: $tablet-width) {
  .stat {
    position: relative;
    width: 640px;
    margin-top: -185px;
  }

  .stat__header {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;

  }

  .stat__slogan {
    width: 240px;
    margin-bottom: 15px;

    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
  }

  .stat__intro {
    padding-right: 40px;
    margin: 0;

    width: 210px;    

    text-align: left;
  }

  .stat__legend--top {
    display: block;
  }
  
  .stat__legend--bottom {
    display: none;
  }

  .stat__list tbody {
    display: flex;
    flex-wrap: wrap;
  }

  .stat__list tr {
    width: 250px;
    padding: 27px 35px;
  }

  .stat__list td {
    display: block;
    width: auto;
    padding: 0;
  }

  .stat__value {
    margin-bottom: 7px;

    font-size: 72px;
    line-height: 72px;
    font-weight: bold;
  }

  .stat__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }

  .stat__field br {
    display: none;
  }

}

@media (min-width: $desktop-width) {
  .stat {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }

  .stat__header {
    display: block;

    width: 240px;
    text-align: left;
  }

  .stat__slogan {
    display: block;
    padding: 0;
    padding-bottom: 20px;

    width: auto;
  }

  .stat__intro {
    width: auto;
    padding-bottom: 20px;
  }

  .stat__list {
    width: 640px;
    display: flex;
  }
}
